# Ignore compiled bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
.env

# Ignore specific directories
bin/

# Ignore firmware binaries and large files
*.bin

# Ignore device-specific IP lists or sensitive data
device/*.txt

# Ignore editor and OS artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
